<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3.4.2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>isKindOfClass:方法判断子类对象类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>isKindOfClass:方法判断对象类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>判断对象是否响应消息.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>对象复制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>对象比较.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0FD1F181E826AE600261EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0FD1F261E826B4300261EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0FD1F311E826B6000261EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0FD1F3C1E826B8700261EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0FD1F4A1E826BE900261EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0FD1F551E826C1C00261EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
